body{
    background-image: url('https://img2.rtve.es/n/16632833?w=1600');
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    border-bottom: solid 2px black;
}

#textoCabecera{  
    margin: 0;
    font-family: 'Arial';
    color: #333; 
}

#formulario {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#registerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 25px; 
}

.form-group {
    display: flex;
    flex-direction: column;
}

#submitRegister{
    display: flex;
    justify-content: center;
    background-color: #0d6efd;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    grid-column: span 2;
    color: #ffffff;
    transition: background 0.3s ease; 
}

#sesion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 500px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

#sesion-box form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputIni{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

#enviar {
    padding: 5px;
    background-color: #0d6efd; 
    color: #ffffff;
    border-radius: 4px; 
    padding: 10px;
    font-weight: bold;
    transition: background 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100px;
}


#enviar:hover {
    background-color: #022964; 
}

#submitRegister:hover {
    background-color: #022964; 
}

#registro{
    margin-top: 10px;
}